.navbar {
    background-color: #333; /* Color de fondo de la barra de navegación */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Espaciado interno */
  }
  
  .logo a {
    text-decoration: none;
    font-size: 1.5rem; /* Tamaño de fuente del logo */
    color: #fff; /* Color del texto del logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilos para los enlaces cuando están en estado "activo" o "hover" */
  .nav-links a:hover,
  .nav-links a:active {
    text-decoration: underline;
  }
  